*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  h1, h2 {
    text-align: center;
    color: #2c3e50;
  }
  
  h3 {
    color: #3498db;
    margin: 0;
  }
  
  section {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  button{
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #395f79;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }
  
  button a {
    color: #fff;
    text-decoration: none;
  }
  
  button:hover {
    background-color: #477a9c;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  ul li:last-child {
    border-bottom: none;
  }
  
  ul li h3 {
    margin: 0 0 5px 0;
  }
  
  ul li p {
    margin: 5px 0;
    color: #7f8c8d;
  }
  
  h2 {
    text-align: center;
    color: #4143bd;
    margin-top: 30px;
  }

  .botonCarritos{
    display: inline;
    margin: 10px;
  }
  
  
.section1, .section2, .section3, #loginForm{
    display: flex;
    align-items: center;
    margin: 30px;
    gap: 40px;
    justify-content: center;
    }
    
    .section2 ul {
        display: flex;
        flex-wrap: wrap; 
        gap: 20px; 
        list-style-type: none; 
        padding: 0; 
    }
    
    .section2 .product , input  {
        flex: 1 1 22%; 
        box-sizing: border-box; 
        border: 1px solid #ccc;
        padding: 10px; 
        text-align: center; 
    }

    #registerForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .3125rem;
    }
    
    .section2 p{
        margin: 5px;
    }
    
    .section3 a{
        text-decoration: none;
        color: black;
        background-color: #ccc;
        padding: 20px;
        transition: transform 0.3s ease, border-radius 0.3s ease; 
    }
    
    .section3 a:hover {
        transform: scale(1.1); 
        border-radius: 50px; 
    }
    
    
    .section3 a.disabled {
        opacity: 0.5;  
        pointer-events: none; 
        color: gray;  
    }
    
    
    .section3 a.disabled:hover {
        transform: none;  
    }
    